$red-color: #ea3624;
$light-grey-color: #888b8d;
$grey-color: #4e4e4f;
$aqua-color: #2dccd3;
$more-button-color: #231f20;
*:focus{
  outline: none;
}
@font-face {
  font-family: 'TGSharpSans-Black';
  src: url('../fonts/TGSharpSans-Black.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-BlackItalic';
  src: url('../fonts/TGSharpSans-BlackItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Bold';
  src: url('../fonts/TGSharpSans-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-BoldItalic';
  src: url('../fonts/TGSharpSans-BoldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Book';
  src: url('../fonts/TGSharpSans-Book.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-BookItalic';
  src: url('../fonts/TGSharpSans-BookItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Extrabold';
  src: url('../fonts/TGSharpSans-Extrabold.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-ExtraboldItalic';
  src: url('../fonts/TGSharpSans-ExtraboldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Hairline';
  src: url('../fonts/TGSharpSans-Hairline.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-HairlineItalic';
  src: url('../fonts/TGSharpSans-HairlineItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Light';
  src: url('../fonts/TGSharpSans-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-LightItalic';
  src: url('../fonts/TGSharpSans-LightItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Medium';
  src: url('../fonts/TGSharpSans-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-MediumItalic';
  src: url('../fonts/TGSharpSans-MediumItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Semibold';
  src: url('../fonts/TGSharpSans-Semibold.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-SemiboldItalic';
  src: url('../fonts/TGSharpSans-SemiboldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Thin';
  src: url('../fonts/TGSharpSans-Thin.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-ThinItalic';
  src: url('../fonts/TGSharpSans-ThinItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-Ultrathin';
  src: url('../fonts/TGSharpSans-Ultrathin.ttf')  format('truetype');
}
@font-face {
  font-family: 'TGSharpSans-UltrathinItalic';
  src: url('../fonts/TGSharpSans-UltrathinItalic.ttf')  format('truetype');
}


.page-header-container{
  height: 115px;
  z-index: 3;
}
.tenger-greens-wrapper{
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'TGSharpSans-Medium';
}

//hamburger-menu********************************************************************************************************

$bar-width: 45px;
$bar-height: 4px;
$bar-spacing: 12px;


.hamburger-menu {
  margin: auto;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
  display: inline-block;
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: $bar-height;
}

.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: $red-color;
  transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background:$red-color;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: $red-color;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

//END-hamburger-menu****************************************************************************************************

.page-header-container > div{
  display: inline-block;
  width: 33%;
  float: left;
}
.tg-menu{
  padding: 47px 0 0 90px;
  float: left;
}
.shop-by-category{
  text-transform: uppercase;
  font-size: 22px;
  margin: 0 0 0 35px;
  vertical-align: top;
  color: $red-color;
}
.tg-header-right{
  padding: 10px 75px 0 0;
  float: right;
}
.tg-logo{
  margin-left: 8px;
}
.tg-logo .logo{
  max-width: 330px;
  margin: 32px auto 0 auto;
  float: none;
}
.tg-logo .logo img{
  margin: 0 auto;
}
.hide{
  display: none !important;
}
.tg-search{
  margin: 20px 0 0 0;
  float: right;
}
.tg-header-right-container{
  width: 310px;
  float: right;
}
.tg-header-right-container > div{
  display: inline-block;
}
.tg-login{
  text-transform: uppercase;
  vertical-align: top;
  margin: 35px 0 0 0;
}
a{
  color: $light-grey-color;
}
.tg-header-minicart{
  background: $red-color;
  width: 140px;
  margin: 22px 0 0 20px;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: 900;
  text-align: left;
  padding: 0 7px 0 10px;
}
.tg-header-minicart .label{
  padding: 3px 0 0 25px;
  display: inline-block;
  font-family: 'TGSharpSans-Extrabold';
}
.tg-header-minicart .count{
  background: white;
  float: right;
  margin: 6px 0 0 0;
  width: 37px;
  height: 37px;
  border-radius: 60px;
  line-height: 37px;
  color: $red-color;
}
.skip-cart .count:before, .skip-cart .count:after{
  display: none;
}
.skip-cart.no-count .count {
  display: inline-block;
}
.search-icon{
  cursor: pointer;
}

.col-main{
  width: 100%;
  padding:0;
}

.tg-circle{
  width: 190px;
  height: 180px;
  background: #fff;
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 15px;
  right: 0;
  border-radius: 50%;
  top: -32px;
}
h1{
  color: white;
  font-size: 60px;
  margin-bottom: 0;
  font-family: 'TGSharpSans-Bold';
  letter-spacing: 3px;
}
h6{
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: 'TGSharpSans-Bold';
  letter-spacing: 1.3px;
}
.slider h6{
  z-index: 1;
  margin-top: 30px;
}
.slide-content{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 23%;
  text-align: center;
  h1{
    font-size: 92px;
    margin-top: 5%;
  }
  h6{
    margin-top: 2%;
    font-size: 26px;
  }
}
.owl-theme .owl-dots .owl-dot span{
  width: 23px;
  height: 24px;
  margin: 5px 15px;
  background: #fff;
}

.slider button{
  z-index: 1;
  background: transparent;
  border: 6px solid white;
  color: white;
  text-transform: uppercase;
  margin-top: 10%;
  width: 14.5vw;
  height: 4.3vw;
  border-radius: 60px;
  font-size: 34px;
  letter-spacing: 1px;
  max-width: 280px;
}
button{
  font-size: 22px;
  width: 185px;
  height: 55px;
  border-radius: 30px;
  font-family: 'TGSharpSans-Bold';
}
.store-front{
  margin-bottom: -10px;
  margin-top: -37px;
  display: inline-block;
  width: 100%;
  float: left;
}
.header{
  margin-bottom: 30px;
}
//quick-turnaround-circles**********************************************************************************************

$body-color: #fff;



.donut-count {
  font-family: 'TGSharpSans-Extrabold';
  font-size: 33px;
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

@mixin donut-creator($donut-diameter, $center-diameter, $bg-color, $donut-color) {
  .donut {
    width: $donut-diameter;
    height: $donut-diameter;
    font-size: $donut-diameter;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0 30px;

    //delete[START]//
    display: inline-block;
    //delete[END]//

    &:before,
    &:after {
      content: "";
      border: 8px solid $donut-color;
      position: absolute;
      display: block;
      width: 50%;
      height: 100%;
      transform-origin: 100% 50%;
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
    }

    &:before {
      z-index: 2;
      border-right: none;
    }

    &:after {
      border-right: none;
      z-index: 3;
      transform: rotate(180deg);
      opacity: 0;
    }

    &-center {
      width: $center-diameter;
      height: $center-diameter;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      border-radius: 100%;
    }

    &-mask {
      width: 100%;
      height: 100%;
      position: absolute;

      &:before,
      &:after {
        content: "";
        border: 8px solid $body-color;
        position: absolute;
        display: block;
        width: 50%;
        height: 100%;
        transform-origin: 100% 50%;
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
      }

      &:before {
        border-right: none;
        z-index: 3;
      }

      &:after {
        border-right: none;
        transform: rotate(180deg);
        z-index: 1;
      }
    }
  }
}


//
//  MIXIN CALLING
// --------------------------------------------------------------------------------------
@include donut-creator(210px, 95%, $body-color, #25cbd3);


//
//  ANIMATION
// --------------------------------------------------------------------------------------
@for $i from 1 through 100 {
  $aux: $i * 3.60;
  $equiv: $aux - 180;
  $time: 2.8;

  .donut--#{$i} {
    &:before { animation: rota1-#{$i} $time + s forwards; }
  }

  @if ($i < 50) {
    @keyframes rota1-#{$i} {
      0% { transform: rotate(0deg); }
      100% { transform: rotate($aux + deg); }
    }

  } @else {
    .donut--#{$i}:after { animation: rota2-#{$i} ($equiv*$time)/180 + s forwards $time + s; }

    @keyframes rota1-#{$i} {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(180deg); }
    }

    @keyframes rota2-#{$i} {
      0% { transform: rotate(180deg); opacity: 1; }
      100% { transform: rotate($aux + deg); opacity: 1; }
    }

  }
}

//END quick-turnaround-circles******************************************************************************************

.quick-turnaround{
  background-image: url(../images/bg-quick-turnaround.png);
  -webkit-background-size:cover;
  background-size:cover;
  display: inline-block;
  width: 100%;
  height: 670px;
}
.quick-turnaround-content{
  width: 84%;
  margin: 0 auto;

}
.slide1{
  //background-image: url(../images/slides/slide1.png);
  -webkit-background-size:contain;
  background-size:contain;
  display: inline-block;
  width: 100%;
}
.quick-turnaround-content > div{
  display: inline-block;
  width: 33%;
  text-align: center;
  float: left;
}
h2{
  text-align: center;
  font-family: 'TGSharpSans-Bold';
  font-size: 70px;
  color: #ffffff;
}
.quick-turnaround h2{
  margin: 35px 0 60px 0;
}
p{
  font-family: 'TGSharpSans-Medium';
  color: white;
}
.quick-turnaround-content p{
  margin: 30px 0 0 30px;
  font-size: 28px;
}
.quick-turnaround-bottom-text{
  text-align: center;
  margin: 90px 0 0 0;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  font-family: 'TGSharpSans-Medium';
  color: white;

}
.img-turnaround-question{
  margin: 0 auto;
}
.printing-category{
  text-align: center;
}
.printing-category-top{
  background: #f4f4f4;
  padding-top: 9%;
  max-height: 1230px;
  padding-bottom: 36%;
}
.printing-category-top h2, .printing-category-top p{
  color: $grey-color;
  text-align: center;
}
.printing-category-top h2{
  font-size: 64px;
  letter-spacing: 4px;
}
.printing-category-top p{
  font-size: 29px;
  margin: 69px 0 0 0;
  letter-spacing: 1px;
}
.printing-category-top-circles > div{
  display: inline-block;
  vertical-align: top;
  margin: 0 25px;
}
.printing-category-top-circles{
  text-align: center;
  margin: 7.7% 0 0 0;
}
.printing-category-top-circles p{
  margin: 25px 0 0 0;
  font-family: 'TGSharpSans-Semibold';
  font-size: 25px;
}
.col-6{
  display: inline-block;
  width: 50%;
  float: left;
}
.row{
  display: inline-block;
  width: 100%;
  float: left;
}
.printing-category-grid{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: -13.4%;
  background: white;
  display: inline-block;
}
.printing-category-grid-content{
  display: inline-block;
  margin: 0 auto;
  margin-top: 22%;
}
.printing-category-grid-content img{
  margin: 0 auto;
  margin-bottom: 60px;
}
.printing-category-grid .col-6{
  background: #fff;
  max-height: 700px;
}
.printing-category-grid-content .red{
  color: $red-color;
  font-size: 33px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'TGSharpSans-Bold';
  letter-spacing: 2px;
}
.printing-category-grid-content .white{
  color: white;
  font-size: 33px;
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.printing-category-grid-content .descr{
  color: $grey-color;
  font-size: 21px;
  letter-spacing: 1px;
  margin-top: 20px;
}
.printing-category-grid-container{
  display: inline-block;
  float: left;
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
  .row{
    position: relative;
    .bg-aqua{
      position: absolute;
      left: 50%;
      height: 100%;
    }
    .bg-yellow, .bg-grey{
      position: absolute;
      left: 0;
      height: 100%;
    }
  }
}
.printing-category-grid .bg-aqua{
  background: $aqua-color;
}
.printing-category-grid .bg-yellow{
  background: #f2ca19;
}
.printing-category-grid .bg-grey{
  background: #e4e4e4;
}
.printing-category-grid-content .cat{
  color: $light-grey-color;
  font-family: 'TGSharpSans-Semibold';
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.track_order_container{
  display: inline-block;
  width: 100%;
}
//*******************************************Progress-bar***************************************************************
.progress-bar-order{
  margin-top: 7%;
}

.progress {
  overflow: hidden;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  margin-bottom: 50px;
}
.progress-bar {
  width: 0;
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: #ee303c;
}
.points-progress .progress-point{
  display: inline-block;
  width: 19.6%;
  vertical-align: top;
}
.progress-point p{
  color: $grey-color;
  font-size: 27px;
  font-family: 'TGSharpSans-Semibold';
  vertical-align: text-top;
}
.progress-point .current-step{
  font-family: 'TGSharpSans-Bold';

}
//***************************************END Progress-bar***************************************************************
.track_order h2{
  color: $grey-color;
}
.track_order{
  text-align: center;
}
.track_order_container {
  display: inline-block;
  width: 100%;
  max-width: 1500px;
  padding-top: 8%;
  padding-bottom: 10.3%;
  h6{
    color: $grey-color;
    letter-spacing: 8px;
    margin-top: 13px;
  }
  h2{
    font-size: 88px;
    letter-spacing: 7px;
  }
  p{
    font-size: 23px;
    margin: 10px;
    color: $grey-color;

  }
}
.order_number{
  margin: 0 auto;
  height: 70px;
  border: 3px solid;
  border-radius: 100px;
  text-align: left;
  max-height: 140px;
  min-height: 55px;
  max-width: 580px;
}
.order_number input{
  width: 85%;
  display: inline-block;
  height: 100%;
  background: transparent;
  border: 0;
  font-size: 16px;
  padding: 0 0 0 5%;
  float: left;
  font-family: 'TGSharpSans-Medium';
  color: $grey-color;

}
.order_number button{
  display: inline-block;
  width: 14%;
  height: 100%;
  background: transparent;
  border: 0;
}
.order_number button span{
  display: inline-block;
  width: 100%;
  font-size: 16px;
  letter-spacing: 5px;
  border-left: 1px solid;
  line-height: 36px;
}
.order-request{
  background-image: url(../images/bg-prder-request.png);
  -webkit-background-size:cover;
  background-size:cover;
  display: inline-block;
  width: 100%;
  max-height: 830px;
}
.order-request-container{
  padding-top: 13%;
  text-align: center;
  padding-bottom: 8%;
}
.order-request-container p{
  color: #000;
  font-size: 28px;
  margin-bottom: 6%;
}
.order-request-container h2{
  margin-bottom: 3.3%;
}
.order-request-container .tg-button{
  width: 17vw;
  height: 4.5vw;
  background: white;
  border-radius: 100px;
  color: $red-color;
  text-transform: uppercase;
  font-size: 37px;
  letter-spacing: 3px;
  border: none;
}
.order-request{
  background-image: url(../images/bg-prder-request.png);
  -webkit-background-size:cover;
  background-size:cover;
  display: inline-block;
  width: 100%;
  max-height: 830px;
}
.order-request-container{
  padding-top: 13%;
  text-align: center;
  padding-bottom: 8%;
}
.order-request-container p{
  color: #000;
  font-size: 28px;
  margin-bottom: 6%;
}
.order-request-container h2{
  margin-bottom: 3.3%;
}
.order-request-container .tg-button{
  width: 17vw;
  height: 4.5vw;
  background: white;
  border-radius: 100px;
  color: $red-color;
  text-transform: uppercase;
  font-size: 37px;
  letter-spacing: 3px;
  border: none;
}



.template-generator{
  background-image: url(../images/bg-template-generator.png);
  -webkit-background-size:cover;
  background-size:cover;
  display: inline-block;
  width: 100%;
  max-height: 830px;
}
.template-generator-container{
  padding-top: 13%;
  text-align: center;
  padding-bottom: 8%;
}
.template-generator-container p{
  color: $grey-color;
  font-size: 28px;
  margin-bottom: 6%;
}
.template-generator-container h2{
  margin-bottom: 3.3%;
  color: $grey-color;
}
.template-generator-container .tg-button{
  width: 17vw;
  height: 4.5vw;
  background: $red-color;
  border-radius: 100px;
  color: white;
  text-transform: uppercase;
  font-size: 37px;
  letter-spacing: 3px;
  border: none;
}
.need-help{
  text-align: center;
}
.need-help-container{
  max-width: 1400px;
  width:100%;
  display: inline-block;
  padding-top: 8.8%;
}
.need-help-container h2{
  color: $grey-color;
  margin-bottom: 3.5%;
}
.need-help-container p{
  color: $grey-color;
  font-size: 28px;
  margin-bottom: 7.5%;
}
.aqua-circle{
  width: 220px;
  height: 220px;
  background: $aqua-color;
  border-radius: 50%;
  color: white;
  font-size: 27px;
  padding: 70px 0;
  margin: 0 auto 25px auto;
}
.brd-r{
  border-right: 1px solid grey;
}
.black-font{
  color: black;
  font-size: 25px;
  font-family: 'TGSharpSans-Semibold';
}
.need-help-circles p{
  font-family: 'TGSharpSans-Semibold';
  font-size: 26px;
}
.separate{
  display: inline-block;
  width: 1px;
  background: #4e4e4f;
  height: 17vw;
  float: left;
  max-height: 325px;
}
.need-help-circles .col-6{
  width: 49%;
}
.need-help-faq{
  color:  $aqua-color;
  border-bottom: 3px solid;
  padding: 0 5px;
}

.footer{
  padding-top: 10%;
  border-top: none;
}
.footer-links{
  text-align: center;
  font-size: 24px;
  font-family: 'TGSharpSans-Medium';
  letter-spacing: 1px;
  margin-bottom: 7%;
  color: black;
}
.footer-links a{
  font-size: 24px;
  color: black;
}
.social-links a{
  display: inline-block;
  margin: 0 5px;
}
.social-links{
  text-align: center;
}
.footer address{
  border-top: none;
  text-align: center;
  width: 100%;
  font-size: 15px;
  margin-top: 30px;
  padding: 30px 0;
  font-family: 'TGSharpSans-Medium';
  color: $light-grey-color;
}
.tg-menu-active{
  position: absolute;
  background: white;
  width: 50%;
  left: 0;
  top: 105px;
  text-transform: uppercase;
  font-family: 'TGSharpSans-Bold';
}
.tg-menu-active .menu-links a{
  text-decoration: none;
  color: $red-color;
  height: 90px;
  line-height: 90px;
  padding-left: 20px;
  display: inline-block;
  width: 100%;
  font-size: 20px;
}
.tg-menu-active .menu-links a:hover{
  color: #fff;
  background: $red-color;
}
a:focus{
  outline:none;
}
.printing-category-grid .col-6 img{
  width: 100%;
}
.printing-category-grid .printing-category-grid-content img{
  width: auto;
}
.right{
  float: right;
}
.owl-dots button{
  margin: 0;
  width:auto;
}
.owl-theme .owl-dots{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%;
}
#tg-login.displace{
  height: 90px;
  line-height: 90px;
  padding-left: 20px;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  margin: 0;
}
.quick-turnaround .owl-carousel .item > div{
  text-align: center;
}
#search {
  border: 3px solid $red-color;
  border-radius: 25px;
  width: 100%;
  height: 50px;
}
#search_mini_form .search-button{
  top: 6px;
}
#header-search {
  top: 115px;
}
#header-cart.skip-active{
  top: 100px;
  background: white;
  border: 3px solid $red-color;
  border-radius: 10px;
}
.minicart-wrapper p{
  color: #000;
}
.tg-more{
  background: $more-button-color;
  color: #fff;
  width: 210px;
  height: 70px;
  border-radius: 80px;
  border: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'TGSharpSans-Extrabold';
  letter-spacing: 1px;
}
.triangle{
  border: 50px solid transparent;
  border-top: 45px solid white;
  margin: 0 auto;
  height: 60px;
  width: 80px;
  bottom: -93px;
  position: relative;
  .fas{
    top: -49px;
    position: relative;
    font-size: 33px;
    left: -13px;
  }
}















