*:focus {
  outline: none; }

a {
  text-decoration: none !important; }

@font-face {
  font-family: 'TGSharpSans-Black';
  src: url("../fonts/TGSharpSans-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-BlackItalic';
  src: url("../fonts/TGSharpSans-BlackItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Bold';
  src: url("../fonts/TGSharpSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-BoldItalic';
  src: url("../fonts/TGSharpSans-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Book';
  src: url("../fonts/TGSharpSans-Book.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-BookItalic';
  src: url("../fonts/TGSharpSans-BookItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Extrabold';
  src: url("../fonts/TGSharpSans-Extrabold.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-ExtraboldItalic';
  src: url("../fonts/TGSharpSans-ExtraboldItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Hairline';
  src: url("../fonts/TGSharpSans-Hairline.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-HairlineItalic';
  src: url("../fonts/TGSharpSans-HairlineItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Light';
  src: url("../fonts/TGSharpSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-LightItalic';
  src: url("../fonts/TGSharpSans-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Medium';
  src: url("../fonts/TGSharpSans-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-MediumItalic';
  src: url("../fonts/TGSharpSans-MediumItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Semibold';
  src: url("../fonts/TGSharpSans-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-SemiboldItalic';
  src: url("../fonts/TGSharpSans-SemiboldItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Thin';
  src: url("../fonts/TGSharpSans-Thin.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-ThinItalic';
  src: url("../fonts/TGSharpSans-ThinItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-Ultrathin';
  src: url("../fonts/TGSharpSans-Ultrathin.ttf") format("truetype"); }
@font-face {
  font-family: 'TGSharpSans-UltrathinItalic';
  src: url("../fonts/TGSharpSans-UltrathinItalic.ttf") format("truetype"); }
h3 {
  text-align: center;
  font-family: 'TGSharpSans-Extrabold';
  font-size: 36px;
  color: #4e4e4f;
  letter-spacing: 3px; }

.page-header-container {
  height: 122px;
  z-index: 3; }

.tenger-greens-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'TGSharpSans-Medium'; }

.hamburger-menu {
  margin: auto;
  width: 43px;
  height: 28px;
  cursor: pointer;
  display: inline-block;
  float: left; }

.bar:after,
.bar:before {
  width: 43px;
  height: 4px; }

.bar {
  width: 28px;
  height: 4px; }

.bar {
  position: relative;
  transform: translateY(12px);
  background: #ea3624;
  transition: all 0ms 300ms; }
  .bar.animate {
    background: rgba(255, 255, 255, 0); }

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  background: #ea3624;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  background: #ea3624;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.page-header-container > div {
  display: inline-block;
  width: 33%;
  float: left; }

.tg-menu {
  padding: 47px 0 0 90px;
  float: left; }

.shop-by-category {
  text-transform: uppercase;
  font-size: 22px;
  margin: 0 0 0 35px;
  vertical-align: top;
  color: #ea3624; }

.tg-header-right {
  padding: 10px 0 0 0;
  float: right; }

.tg-logo {
  margin-left: 8px; }

.tg-logo .logo {
  max-width: 330px;
  margin: 32px auto 0 auto;
  float: none; }

.tg-logo .logo img {
  margin: 0 auto; }

.hide {
  display: none !important; }

.tg-search {
  margin: -15px 0 0 77px;
  float: left; }

.tg-header-right-container {
  width: 365px;
  float: right;
  margin-right: 20px; }

.tg-header-right-container > div {
  display: inline-block; }

.tg-login {
  text-transform: uppercase;
  vertical-align: top;
  margin: 35px 0 0 0;
  float: right; }

.login-ico {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px; }

.Notifications {
  margin: 22px 0 0 20px;
  float: left; }

.header-minicart {
  margin-left: 10px; }

.Notifications-num {
  display: inline-block;
  border: 2px solid red;
  border-radius: 50%;
  font-size: 11px;
  width: 20px;
  height: 20px;
  color: red;
  text-align: center;
  line-height: 17px;
  vertical-align: top;
  margin-top: -5px;
  margin-left: -15px;
  background: white; }

a {
  color: #888b8d; }

.tg-header-minicart {
  background: #ea3624;
  width: 140px;
  margin: 22px 0 0 20px;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: 900;
  text-align: left;
  padding: 0 7px 0 10px; }

.tg-header-minicart .label {
  padding: 3px 0 0 25px;
  display: inline-block;
  font-family: 'TGSharpSans-Extrabold'; }

.tg-header-minicart .count {
  background: white;
  float: right;
  margin: 6px 0 0 0;
  width: 37px;
  height: 37px;
  border-radius: 60px;
  line-height: 37px;
  color: #ea3624; }

.skip-cart .count:before, .skip-cart .count:after {
  display: none; }

.skip-cart.no-count .count {
  display: inline-block; }

.search-icon {
  cursor: pointer; }

.col-main {
  width: 100%;
  padding: 0;
  margin-bottom: 0; }

.tg-circle {
  width: 190px;
  height: 180px;
  background: #fff;
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 15px;
  right: 0;
  border-radius: 50%;
  top: -32px; }

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 0;
  font-family: 'TGSharpSans-Bold';
  letter-spacing: 3px; }

h6 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: 'TGSharpSans-Bold';
  letter-spacing: 1.3px; }

.slider h6 {
  z-index: 1;
  margin-top: 30px; }

.slide-content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 17.6%;
  text-align: center; }
  .slide-content h1 {
    font-size: 85px;
    margin-top: 5%; }
  .slide-content h6 {
    font-size: 24px;
    color: white;
    letter-spacing: 4px;
    max-width: 1400px;
    margin: 1.1% auto;
    width: 49%;
    font-family: 'TGSharpSans-Medium';
    text-transform: none; }

.owl-theme .owl-dots .owl-dot span {
  width: 23px;
  height: 24px;
  margin: 5px 15px;
  background: #fff; }

.slider button {
  z-index: 1;
  background: transparent;
  border: 6px solid white;
  color: white;
  margin-top: 3.5%;
  width: 14.5vw;
  height: 4.3vw;
  border-radius: 60px;
  font-size: 34px;
  letter-spacing: 1px;
  max-width: 280px; }

button {
  font-size: 22px;
  width: 185px;
  height: 55px;
  border-radius: 30px;
  font-family: 'TGSharpSans-Bold'; }

.store-front {
  margin-bottom: -10px;
  margin-top: -37px;
  display: inline-block;
  width: 100%;
  float: left; }

.header {
  margin-bottom: 30px; }

.quick-turnaround {
  background-image: url(../images/bg-quick-turnaround.png);
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  width: 100%;
  text-align: center; }

.quick-turnaround-content {
  width: 84%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  padding-top: 10%; }
  .quick-turnaround-content .col-4 {
    width: 33%;
    display: inline-block; }
    .quick-turnaround-content .col-4 img {
      margin: 0 auto; }
    .quick-turnaround-content .col-4 .turn1, .quick-turnaround-content .col-4 .turn2, .quick-turnaround-content .col-4 .turn3 {
      -webkit-background-size: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      max-width: 455px;
      max-height: 460px;
      margin: 0 auto;
      box-shadow: 0 24px 43px -3px rgba(0, 0, 0, 0.5);
      margin-bottom: -6px; }
      .quick-turnaround-content .col-4 .turn1 .turn1-container, .quick-turnaround-content .col-4 .turn1 .turn2-container, .quick-turnaround-content .col-4 .turn1 .turn3-container, .quick-turnaround-content .col-4 .turn2 .turn1-container, .quick-turnaround-content .col-4 .turn2 .turn2-container, .quick-turnaround-content .col-4 .turn2 .turn3-container, .quick-turnaround-content .col-4 .turn3 .turn1-container, .quick-turnaround-content .col-4 .turn3 .turn2-container, .quick-turnaround-content .col-4 .turn3 .turn3-container {
        padding: 55% 27% 3% 18%;
        height: 28vw;
        max-height: 460px; }
        .quick-turnaround-content .col-4 .turn1 .turn1-container p, .quick-turnaround-content .col-4 .turn1 .turn2-container p, .quick-turnaround-content .col-4 .turn1 .turn3-container p, .quick-turnaround-content .col-4 .turn2 .turn1-container p, .quick-turnaround-content .col-4 .turn2 .turn2-container p, .quick-turnaround-content .col-4 .turn2 .turn3-container p, .quick-turnaround-content .col-4 .turn3 .turn1-container p, .quick-turnaround-content .col-4 .turn3 .turn2-container p, .quick-turnaround-content .col-4 .turn3 .turn3-container p {
          color: #000; }
        .quick-turnaround-content .col-4 .turn1 .turn1-container .red, .quick-turnaround-content .col-4 .turn1 .turn2-container .red, .quick-turnaround-content .col-4 .turn1 .turn3-container .red, .quick-turnaround-content .col-4 .turn2 .turn1-container .red, .quick-turnaround-content .col-4 .turn2 .turn2-container .red, .quick-turnaround-content .col-4 .turn2 .turn3-container .red, .quick-turnaround-content .col-4 .turn3 .turn1-container .red, .quick-turnaround-content .col-4 .turn3 .turn2-container .red, .quick-turnaround-content .col-4 .turn3 .turn3-container .red {
          color: #ea3624;
          text-transform: uppercase;
          margin-bottom: 0; }
      .quick-turnaround-content .col-4 .turn1 .turn3-container, .quick-turnaround-content .col-4 .turn2 .turn3-container, .quick-turnaround-content .col-4 .turn3 .turn3-container {
        padding: 45% 22% 1% 21%; }
        .quick-turnaround-content .col-4 .turn1 .turn3-container p, .quick-turnaround-content .col-4 .turn2 .turn3-container p, .quick-turnaround-content .col-4 .turn3 .turn3-container p {
          line-height: normal; }
        .quick-turnaround-content .col-4 .turn1 .turn3-container .red, .quick-turnaround-content .col-4 .turn2 .turn3-container .red, .quick-turnaround-content .col-4 .turn3 .turn3-container .red {
          text-transform: none; }
    .quick-turnaround-content .col-4 .turn1 {
      background-image: url(../images/turn1.png); }
    .quick-turnaround-content .col-4 .turn2 {
      background-image: url(../images/turn2.png); }
    .quick-turnaround-content .col-4 .turn3 {
      background-image: url(../images/turn3.png); }

.progress-col-4 {
  display: inline-block;
  width: 32%;
  text-align: center; }

.slide1 {
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  width: 100%; }

.quick-turnaround-content > div {
  display: inline-block;
  width: 33%;
  text-align: center;
  float: left; }

h2 {
  text-align: center;
  font-family: 'TGSharpSans-Bold';
  font-size: 70px;
  color: #ffffff; }

.quick-turnaround h2 {
  margin: 35px 0 60px 0; }

p {
  font-family: 'TGSharpSans-Medium';
  color: white; }

.quick-turnaround-content p {
  font-size: 28px; }

.quick-turnaround-bottom-text {
  text-align: center;
  margin: 90px 0 0 0;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  font-family: 'TGSharpSans-Medium';
  color: white; }

.img-turnaround-question {
  margin: 0 auto; }

.printing-category {
  text-align: center; }

.printing-category-top {
  background: #f4f4f4;
  padding-top: 9%;
  max-height: 1230px;
  padding-bottom: 36%; }

.printing-category-top h2, .printing-category-top p {
  color: #4e4e4f;
  text-align: center; }

.printing-category-top h2 {
  font-size: 64px;
  letter-spacing: 4px; }

.printing-category-top p {
  font-size: 29px;
  margin: 69px 0 0 0;
  letter-spacing: 1px; }

.printing-category-top-circles > div {
  display: inline-block;
  vertical-align: top;
  margin: 0 25px; }

.printing-category-top-circles {
  text-align: center;
  margin: 7.7% 0 0 0; }

.printing-category-top-circles p {
  margin: 25px 0 0 0;
  font-family: 'TGSharpSans-Semibold';
  font-size: 25px; }

.col-6 {
  display: inline-block;
  width: 50%;
  float: left; }

.row {
  display: inline-block;
  width: 100%;
  float: left; }

.printing-category-grid {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: -13.4%;
  background: white;
  display: inline-block; }

.printing-category-grid-content {
  display: inline-block;
  margin: 0 auto;
  margin-top: 22%; }

.printing-category-grid-content img {
  margin: 0 auto;
  margin-bottom: 60px; }

.printing-category-grid .col-6 {
  background: #fff;
  max-height: 700px; }

p.red {
  color: #ea3624;
  font-size: 33px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'TGSharpSans-Bold';
  letter-spacing: 2px; }

.printing-category-grid-content .white {
  color: white;
  font-size: 33px;
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 2px; }

.printing-category-grid-content .descr {
  color: #4e4e4f;
  font-size: 21px;
  letter-spacing: 1px;
  margin-top: 20px; }

.printing-category-grid-container {
  display: inline-block;
  float: left;
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #7d7d7d; }
  .printing-category-grid-container .row {
    position: relative; }
    .printing-category-grid-container .row .bg-aqua {
      position: absolute;
      left: 50%;
      height: 100%; }
    .printing-category-grid-container .row .bg-yellow, .printing-category-grid-container .row .bg-grey {
      position: absolute;
      left: 0;
      height: 100%; }

.printing-category-grid .bg-aqua {
  background: #2dccd3; }

.printing-category-grid .bg-yellow {
  background: #f2ca19; }

.printing-category-grid .bg-grey {
  background: #e4e4e4; }

.printing-category-grid-content .cat {
  color: #888b8d;
  font-family: 'TGSharpSans-Semibold';
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 0; }

.track_order_container {
  display: inline-block;
  width: 100%; }

.progress-bar-order {
  margin-top: 10.5%; }

.progress {
  overflow: hidden;
  height: 10px;
  background-color: #fff;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 81%; }

.progress-bar {
  width: 0;
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: #ee303c; }

.points-progress .progress-point {
  display: inline-block;
  width: 19.6%;
  vertical-align: top; }

.progress-point p {
  color: #4e4e4f;
  font-size: 17px;
  margin-top: 20px;
  vertical-align: text-top; }

.track_order h2 {
  color: #4e4e4f; }

.track_order {
  text-align: center; }

.track_order_container {
  display: inline-block;
  width: 100%;
  max-width: 1500px;
  padding-top: 8%;
  padding-bottom: 10.3%; }
  .track_order_container h2 {
    font-size: 88px;
    letter-spacing: 7px; }
  .track_order_container p {
    font-size: 23px;
    margin: 10px;
    color: #4e4e4f; }

h6 {
  color: #4e4e4f;
  letter-spacing: 8px;
  margin-top: 13px; }

.order_number, .help-poc-input {
  margin: 0 auto;
  height: 70px;
  border: 3px solid;
  border-radius: 100px;
  text-align: left;
  max-height: 140px;
  min-height: 55px;
  max-width: 580px; }

.order_number input {
  width: 85%;
  display: inline-block;
  height: 100%;
  background: transparent;
  border: 0;
  font-size: 16px;
  padding: 0 0 0 5%;
  float: left;
  font-family: 'TGSharpSans-Medium';
  color: #4e4e4f; }

.order_number button {
  display: inline-block;
  width: 14%;
  height: 100%;
  background: transparent;
  border: 0; }

.order_number button span {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  letter-spacing: 5px;
  border-left: 1px solid;
  line-height: 36px; }

.order-request {
  background-image: url(../images/bg-order-request.png);
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  width: 100%; }

.order-request-container {
  padding-top: 9%;
  text-align: left;
  padding-bottom: 18%;
  max-width: 1400px;
  margin: 0 auto; }

.order-request-container h2 {
  margin-bottom: 2.3%;
  color: white;
  font-size: 42px;
  text-align: left;
  margin-top: 30px;
  letter-spacing: 4px; }

.order-request-container h6 {
  color: #fff; }

.order-request-container .tg-button {
  width: 17vw;
  height: 4.5vw;
  background: white;
  border-radius: 100px;
  color: #ea3624;
  text-transform: uppercase;
  font-size: 37px;
  letter-spacing: 3px;
  border: none; }

.order-request-container {
  padding-top: 19.4%;
  padding-bottom: 17%; }

.order-request-container p {
  color: #000;
  font-size: 28px;
  margin-bottom: 6%; }

.order-request-container h2 {
  margin-bottom: 3.3%; }

.order-request-container .tg-button {
  width: 220px;
  height: 70px;
  background: #ea3624;
  border-radius: 100px;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  border: none;
  font-family: 'TGSharpSans-Extrabold'; }

.printing-demand {
  background-image: url(../images/bg-printing-demand.png);
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  width: 100%;
  max-height: 830px; }

.printing-demand-container {
  padding-top: 9%;
  text-align: right;
  padding-bottom: 18%;
  max-width: 1400px;
  margin: 0 auto; }
  .printing-demand-container h6 {
    color: #fff; }

.printing-demand-container p {
  color: #4e4e4f;
  font-size: 28px;
  margin-bottom: 6%; }

.printing-demand-container h2 {
  margin-bottom: 2.3%;
  color: white;
  font-size: 42px;
  text-align: right;
  margin-top: 30px;
  letter-spacing: 4px; }

.printing-demand-container .tg-button {
  width: 220px;
  height: 70px;
  background: #000;
  border-radius: 100px;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  border: none;
  font-family: 'TGSharpSans-Extrabold'; }

.need-help {
  text-align: center; }

.need-help-container {
  max-width: 1400px;
  width: 100%;
  display: inline-block;
  padding-top: 8.8%; }

.need-help-container h2 {
  color: #4e4e4f;
  margin-bottom: 3.5%; }

.need-help-container p {
  color: #4e4e4f;
  font-size: 28px;
  margin-bottom: 7.5%; }

.aqua-circle {
  width: 220px;
  height: 220px;
  background: #2dccd3;
  border-radius: 50%;
  color: white;
  font-size: 27px;
  padding: 70px 0;
  margin: 0 auto 25px auto; }

.brd-r {
  border-right: 1px solid grey; }

.black-font {
  color: black;
  font-size: 25px;
  font-family: 'TGSharpSans-Semibold'; }

.need-help-circles p {
  font-family: 'TGSharpSans-Semibold';
  font-size: 26px; }

.separate {
  display: inline-block;
  width: 1px;
  background: #4e4e4f;
  height: 17vw;
  float: left;
  max-height: 325px; }

.need-help-circles .col-6 {
  width: 49%; }

.need-help-faq {
  color: #2dccd3;
  border-bottom: 3px solid;
  padding: 0 5px; }

.tg-menu-active {
  position: absolute;
  background: white;
  width: 50%;
  left: 0;
  top: 105px;
  text-transform: uppercase;
  font-family: 'TGSharpSans-Bold'; }

.tg-menu-active .menu-links a {
  text-decoration: none;
  color: #ea3624;
  height: 90px;
  line-height: 90px;
  padding-left: 20px;
  display: inline-block;
  width: 100%;
  font-size: 20px; }

.tg-menu-active .menu-links a:hover {
  color: #fff;
  background: #ea3624; }

a:focus {
  outline: none; }

.printing-category-grid .col-6 img {
  width: 100%; }

.printing-category-grid .printing-category-grid-content img {
  width: auto; }

.right {
  float: right; }

.owl-dots button {
  margin: 0;
  width: auto; }

.owl-theme .owl-dots {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%; }

#tg-login.displace {
  height: 90px;
  line-height: 90px;
  padding-left: 20px;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  margin: 0; }

.quick-turnaround .owl-carousel .item > div {
  text-align: center; }

#search {
  border: 3px solid #ea3624;
  border-radius: 25px;
  width: 100%;
  height: 50px; }

#search_mini_form .search-button {
  top: 6px; }

#header-search {
  top: 115px; }

#header-cart.skip-active {
  top: 100px;
  background: white;
  border: 3px solid #ea3624;
  border-radius: 10px; }

.minicart-wrapper p {
  color: #000; }

.tg-more {
  background: #231f20;
  color: #fff;
  width: 210px;
  height: 70px;
  border-radius: 80px;
  border: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'TGSharpSans-Extrabold';
  letter-spacing: 1px; }

.triangle {
  border: 50px solid transparent;
  border-top: 45px solid white;
  margin: 0 auto;
  height: 60px;
  width: 80px;
  bottom: -93px;
  position: relative; }
  .triangle .fas {
    top: -49px;
    position: relative;
    font-size: 33px;
    left: -13px; }

.shipping-status {
  background: #f4f4f4; }

.shipping-status-container {
  padding-top: 5.3%;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 3.9%; }

.points-progress {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -120px; }

.progress-point-circle {
  border: 17px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  background: #dadada; }

.progress-bar-order.progress-first-step .progress-bar {
  width: 24%; }
.progress-bar-order.progress-first-step .progress-point:nth-child(1) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-first-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-first-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-first-step .progress-point:nth-child(2) .progress-point-circle {
  border: 17px solid #ea3624;
  background: white; }

.progress-bar-order.progress-second-step .progress-bar {
  width: 50%; }
.progress-bar-order.progress-second-step .progress-point:nth-child(1) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-second-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
.progress-bar-order.progress-second-step .progress-point:nth-child(1) .fa-check-tg:before {
  content: "\f00c"; }
.progress-bar-order.progress-second-step .progress-point:nth-child(2) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-second-step .progress-point:nth-child(2) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-second-step .progress-point:nth-child(2) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-second-step .progress-point:nth-child(3) .progress-point-circle {
  border: 17px solid #ea3624;
  background: white; }

.progress-bar-order.progress-third-step .progress-point:nth-child(1) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-third-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-third-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-third-step .progress-point:nth-child(2) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-third-step .progress-point:nth-child(2) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-third-step .progress-point:nth-child(2) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-third-step .progress-bar {
  width: 75%; }
.progress-bar-order.progress-third-step .progress-point:nth-child(3) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-third-step .progress-point:nth-child(3) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-third-step .progress-point:nth-child(3) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-third-step .progress-point:nth-child(4) .progress-point-circle {
  border: 17px solid #ea3624;
  background: white; }

.progress-bar-order.progress-fourth-step .progress-point:nth-child(1) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fourth-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fourth-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-fourth-step .progress-point:nth-child(2) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fourth-step .progress-point:nth-child(2) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fourth-step .progress-point:nth-child(2) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-fourth-step .progress-point:nth-child(3) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fourth-step .progress-point:nth-child(3) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fourth-step .progress-point:nth-child(3) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-fourth-step .progress-bar {
  width: 100%; }
.progress-bar-order.progress-fourth-step .progress-point:nth-child(4) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fourth-step .progress-point:nth-child(4) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fourth-step .progress-point:nth-child(4) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-fourth-step .progress-point:nth-child(5) .progress-point-circle {
  border: 17px solid #ea3624;
  background: white; }

.progress-bar-order.progress-fifth-step .progress-bar {
  width: 100%; }
.progress-bar-order.progress-fifth-step .progress-point:nth-child(1) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(1) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-fifth-step .progress-point:nth-child(2) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(2) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(2) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-fifth-step .progress-point:nth-child(3) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(3) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(3) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-fifth-step .progress-point:nth-child(4) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(4) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(4) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }
.progress-bar-order.progress-fifth-step .progress-point:nth-child(5) .progress-point-circle {
  border: 1px solid #ea3624;
  padding: 13px;
  background: #ea3624; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(5) .progress-point-circle .fa-check-tg {
    font-size: 23px;
    text-align: center;
    color: white; }
  .progress-bar-order.progress-fifth-step .progress-point:nth-child(5) .progress-point-circle .fa-check-tg:before {
    content: "\f00c"; }

.progress-point h6 {
  letter-spacing: 3px;
  margin-top: 8px;
  margin-bottom: 10px; }

.more-inf {
  font-size: 19px;
  background: transparent;
  border: 3px solid #4e4e4f;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 280px;
  height: 70px;
  margin-top: -40px;
  border-radius: 60px;
  font-family: 'TGSharpSans-Medium'; }

.help-poc {
  background: #f4f4f4; }

.help-poc-container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding: 9.2% 0 10% 0; }
  .help-poc-container h2 {
    font-size: 88px;
    letter-spacing: 7px;
    color: #4e4e4f;
    margin: 15px 0 0 0; }
  .help-poc-container p {
    color: #4e4e4f;
    font-size: 23px;
    margin: 40px 0 0 0; }
  .help-poc-container form {
    margin-top: 10px; }
    .help-poc-container form input {
      display: block;
      width: 42%;
      max-width: 580px;
      height: 70px;
      font-size: 17px;
      text-align: center;
      background: white;
      margin-bottom: 20px; }
  .help-poc-container .tg-button {
    width: 220px;
    height: 70px;
    background: #ea3624;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 2px;
    border: none;
    font-family: 'TGSharpSans-Extrabold';
    margin-top: 25px; }

.tg-footer-container {
  background-image: url(../images/bg-footer.png);
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
  width: 100%;
  padding: 5.7% 0 2.8% 0;
  text-align: center;
  background-position-x: 50%; }

.footer-logo {
  margin: 0 auto 90px auto; }

.footer {
  background: #f4f4f4;
  border-top: none;
  padding-top: 0;
  max-width: 1920px;
  margin: -2px auto 0 auto; }
  .footer h6 {
    color: #fff; }

.social-links a {
  display: inline-block;
  margin: 0 3px; }

.social-links {
  text-align: center;
  margin-top: 20px; }

.soc-circ {
  background: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 23px;
  color: black; }

.footer address {
  border-top: none;
  text-align: center;
  width: 100%;
  font-size: 14px;
  margin-top: 80px;
  padding: 30px 0;
  font-family: 'TGSharpSans-Medium';
  color: #fff; }

.quick-turnaround .col-4 {
  width: 33%;
  display: inline-block; }

/*# sourceMappingURL=tendergreens.css.map */
